* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
body.dragging {
	background-color: #315E31;
}
textarea.pre {
	width: 100%;
	height: 200px;
	color: #333333;
}
div h2 small {
	float: right;
	margin-top: 22px;
}